.footer {
  font-family: $noto;
  background: $pink;
  padding-left: 40px;
  padding-bottom: 9px;
  @include media(sm) {
  }
  &Sub {
    padding: 10px 25px;
    // border-top: solid 2px $pink;
    &__link {
      font-weight: bold;
      color: $pink;
      display: flex;
      align-items: center;
      > span {
        border-bottom: solid 1px $pink;
      }
      &:before {
        content: "";
        background: url("/assets/img/common/ico_mail-pink.svg") no-repeat;
        width: 28px;
        height: 20px;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
  &__contents {
    @include media(lg) {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }
  }
  &__logo {
    @include media(lg) {
      flex: 0 0 40%;
      position: relative;
    }
    @include media(sm) {
      padding: 60px 95px;
    }
    .logo {
      max-width: 247px;
      @include media(sm) {
        text-align: center;
      }
      img {
        width: auto;
        height: auto;
      }
    }
  }
  &__nav {
    @include media(lg) {
      flex: 0 0 80%;
      padding: 40px 120px 40px 100px;
    }
    @include media(sm) {
      padding: 0 20px;
    }
    &List {
      color: #fff;
      flex: 0 0 40%;
      font-family: $noto;
      @include media(lg) {
        padding-top: 30px;
      }
      &__list {
        display: flex;
        flex-wrap: wrap;
        @include media(lg) {
        }
        @include media(sm) {
          padding: 0;
        }
      }
      &__item {
        @include media(lg) {
          @include fontsize(16);
          flex: 0 0 21%;
          margin-bottom: 15px;
          line-height: 160%;
        }
      }
    }
    &Link {
      display: flex;
      justify-content: space-between;
      &Outer {
        &:after {
          content: "";
          background: url("/assets/img/common/ico_outlink.svg") no-repeat;
          width: 13px;
          height: 13px;
          display: inline-block;
        }
      }
      &Sns {
        display: flex;
        align-items: center;
        @include media(lg) {
          gap: 30px;
        }
        @include media(sm) {
          margin-top: 60px;
          justify-content: center;
          gap: 40px;
          a {
            img {
              width: 40px;
              height: auto;
            }
          }
        }
      }
    }
    &Mail {
      position: relative;
      padding-left: 35px;
      line-height: 160%;
      margin-top: 12px;
      @include media(lg) {
        @include fontsize(16);
        > span {
          @include fontsize(14);
        }
      }
      &:before {
        content: "";
        background: url("/assets/img/common/ico_mail-wh.svg") no-repeat;
        width: 23px;
        height: 23px;
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
      }
    }
  }
  .copyright {
    color: #fff;
    font-family: $noto;
    @include fontsize(10);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.4px;
    @include media(lg) {
      text-align: right;
    }
    @include media(sm) {
      text-align: center;
      display: block;
      padding-bottom: 40px;
    }
  }
}

.pagetop {
  display: none;
  position: fixed;
  bottom: 30%;
  right: 15px;
  > a {
    display: block;
    background-color: #1a1a1a;
    text-align: center;
    text-decoration: none;
    width: 48px;
    height: 48px;
    padding: 10px 0;
    &:hover {
      filter: alpha(opacity=50);
      -moz-opacity: 0.5;
      opacity: 0.5;
    }
  }
}
