@charset "UTF-8";
/* CSSアニメーションの設定 */
@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(64px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes SlideInAllow {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 300ms ease-out 0ms;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.33;
}

p {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
}

@media (max-width: 959px) {
  .lg-only {
    display: none !important;
  }
}

.sm-only {
  display: none;
}
@media (max-width: 959px) {
  .sm-only {
    display: block;
  }
}

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-style: normal;
  outline: none;
  color: #1A1A1A;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
}
blockquote:before, blockquote:after {
  content: none;
}

q:before, q:after {
  content: "";
}
q:before, q:after {
  content: none;
}

hr {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: top;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  text-align: inherit;
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);
  transition: transform 0.3s ease-in-out;
}
@media (min-width: 960px) {
  .header {
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    margin: 0 auto;
    z-index: 99;
  }
}
@media (max-width: 959px) {
  .header {
    width: 100%;
  }
}
.header.isShow {
  transform: translate(-50%, 0);
}
.header.isHide {
  transform: translate(-50%, -100%);
}
.header.scroll-nav .header__content {
  padding: 5px 60px;
}
.header.scroll-nav .header__logo .logo {
  max-width: 200px;
}
.header.scroll-nav .header__nav {
  color: #1a1a1a;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}
@media (min-width: 960px) {
  .header__content {
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(4px);
    padding: 15px 60px;
  }
}
@media (max-width: 959px) {
  .header__logo {
    position: relative;
  }
}
.header__logo .logo {
  transition: 0.5s;
}
@media (min-width: 960px) {
  .header__logo .logo {
    max-width: 270px;
  }
}
@media (max-width: 959px) {
  .header__logo .logo {
    max-width: 200px;
    padding-left: 10px;
  }
}
.header__logo img {
  width: 100%;
  height: auto;
}
.header__nav {
  transition: 0.3s;
}
@media (min-width: 960px) {
  .header__nav {
    color: #333;
    text-align: center;
    font-family: "Noto Serif Display", serif, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    color: #fff;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.64px;
    border-radius: 50px;
  }
}
@media (min-width: 960px) {
  .header__nav__list {
    display: flex;
    gap: 30px;
  }
}
.header__nav__item.ja {
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.header__nav__item a {
  transition: 0.3s;
}
.header__nav__item a:hover {
  color: #E12C6D;
}
.header__spMenuBtn {
  width: 50px;
  height: 50px;
  background: #E12C6D;
  position: relative;
  z-index: 99;
  margin: 10px 10px 0 0;
}
.header__spMenuBtn--box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__spMenuBtn--bar {
  width: 26px;
  height: 1px;
  background-color: #fff;
  display: block;
  transition: all 0.2s ease-in-out;
}
.header__spMenuBtn--bar:first-of-type {
  margin-bottom: 9px;
}
.header__spMenuBtn--bar:last-of-type {
  margin-top: 8px;
}
.header__spMenuBtn.is-open {
  border: none;
  background: none;
}
.header__spMenuBtn.is-open .header__spMenuBtn--bar:first-of-type {
  transform: translate(0, 5px) rotate(135deg);
}
.header__spMenuBtn.is-open .header__spMenuBtn--bar:nth-of-type(2) {
  transform: translateY(-5px) rotate(-135deg);
  display: none;
}
.header__spMenuBtn.is-open .header__spMenuBtn--bar:last-of-type {
  transform: translateY(-5px) rotate(-135deg);
  margin-top: 0;
}
.header__spSideMenu {
  display: none;
}
.header__spSideMenu.is-open {
  display: block;
  background: #E12C6D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  overflow: scroll;
  animation: SlideIn 0.5s;
}
.header__spSideMenu__list {
  width: calc(100% - 20px);
  margin: 85px auto 0;
}
.header__spSideMenu__item {
  width: 40%;
  margin-left: auto;
  border-bottom: 1px solid #e6e6e6;
  padding: 14px 0;
  position: relative;
  font-size: 16px;
  color: #fff;
  text-align: right;
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.64px;
}
.header__spSideMenu__item--txt {
  position: relative;
}
.header__spSideMenu__item--txt::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  display: inline-block;
  border-top: solid 1px #333;
  border-right: solid 1px #333;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%) rotate(135deg);
}
.header__spSideMenu__item--txt.is-open::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.header__spSideMenu__item--txtbox {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: padding 0.5s, height 0.5s, opacity 0.5s;
}
.header__spSideMenu__item--txtbox.is-open {
  height: 130px;
  padding: 20px 0 24px;
  opacity: 1;
}
.header__spSideMenu__item--intxt {
  color: #666;
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.56px;
  margin-bottom: 16px;
}
.header__spSideMenu__item--intxt:last-of-type {
  margin-bottom: 0;
}
.header__spSideMenu__sns {
  display: flex;
  align-items: center;
  margin-top: 60px;
  justify-content: center;
  gap: 20px;
}
.header__spSideMenu__sns a img {
  width: 26px;
  height: auto;
}

.footer {
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  background: #E12C6D;
  padding-left: 40px;
  padding-bottom: 9px;
}
.footerSub {
  padding: 10px 25px;
}
.footerSub__link {
  font-weight: bold;
  color: #E12C6D;
  display: flex;
  align-items: center;
}
.footerSub__link > span {
  border-bottom: solid 1px #E12C6D;
}
.footerSub__link:before {
  content: "";
  background: url("/assets/img/common/ico_mail-pink.svg") no-repeat;
  width: 28px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}
@media (min-width: 960px) {
  .footer__contents {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
}
@media (min-width: 960px) {
  .footer__logo {
    flex: 0 0 40%;
    position: relative;
  }
}
@media (max-width: 959px) {
  .footer__logo {
    padding: 60px 95px;
  }
}
.footer__logo .logo {
  max-width: 247px;
}
@media (max-width: 959px) {
  .footer__logo .logo {
    text-align: center;
  }
}
.footer__logo .logo img {
  width: auto;
  height: auto;
}
@media (min-width: 960px) {
  .footer__nav {
    flex: 0 0 80%;
    padding: 40px 120px 40px 100px;
  }
}
@media (max-width: 959px) {
  .footer__nav {
    padding: 0 20px;
  }
}
.footer__navList {
  color: #fff;
  flex: 0 0 40%;
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
@media (min-width: 960px) {
  .footer__navList {
    padding-top: 30px;
  }
}
.footer__navList__list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 959px) {
  .footer__navList__list {
    padding: 0;
  }
}
@media (min-width: 960px) {
  .footer__navList__item {
    font-size: 16px;
    font-size: 1rem;
    flex: 0 0 21%;
    margin-bottom: 15px;
    line-height: 160%;
  }
}
.footer__navLink {
  display: flex;
  justify-content: space-between;
}
.footer__navLinkOuter:after {
  content: "";
  background: url("/assets/img/common/ico_outlink.svg") no-repeat;
  width: 13px;
  height: 13px;
  display: inline-block;
}
.footer__navLinkSns {
  display: flex;
  align-items: center;
}
@media (min-width: 960px) {
  .footer__navLinkSns {
    gap: 30px;
  }
}
@media (max-width: 959px) {
  .footer__navLinkSns {
    margin-top: 60px;
    justify-content: center;
    gap: 40px;
  }
  .footer__navLinkSns a img {
    width: 40px;
    height: auto;
  }
}
.footer__navMail {
  position: relative;
  padding-left: 35px;
  line-height: 160%;
  margin-top: 12px;
}
@media (min-width: 960px) {
  .footer__navMail {
    font-size: 16px;
    font-size: 1rem;
  }
  .footer__navMail > span {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
.footer__navMail:before {
  content: "";
  background: url("/assets/img/common/ico_mail-wh.svg") no-repeat;
  width: 23px;
  height: 23px;
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
}
.footer .copyright {
  color: #fff;
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.4px;
}
@media (min-width: 960px) {
  .footer .copyright {
    text-align: right;
  }
}
@media (max-width: 959px) {
  .footer .copyright {
    text-align: center;
    display: block;
    padding-bottom: 40px;
  }
}

.pagetop {
  display: none;
  position: fixed;
  bottom: 30%;
  right: 15px;
}
.pagetop > a {
  display: block;
  background-color: #1a1a1a;
  text-align: center;
  text-decoration: none;
  width: 48px;
  height: 48px;
  padding: 10px 0;
}
.pagetop > a:hover {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.modBreadCrumb {
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  color: #333;
  display: flex;
  gap: 8px;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.48px;
}
@media (min-width: 960px) {
  .modBreadCrumb {
    padding-top: 130px;
    margin-left: 100px;
  }
}
@media (max-width: 959px) {
  .modBreadCrumb {
    margin-left: 20px;
    margin-top: 86px;
  }
}
@media screen and (max-width: 335px) {
  .modBreadCrumb {
    width: calc(100% - 20px);
    margin-left: auto;
    overflow-x: scroll;
    white-space: nowrap;
  }
}
.modBreadCrumb li a {
  position: relative;
  color: #999999;
  padding-right: 17px;
}
.modBreadCrumb li a::after {
  content: "";
  width: 4.8px;
  height: 4.8px;
  position: absolute;
  display: inline-block;
  border-top: solid 1px #333;
  border-right: solid 1px #333;
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* Swiper */
.top__title {
  text-align: center;
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #1a1a1a;
}
@media (min-width: 960px) {
  .top__title {
    font-size: 36px;
    font-size: 2.25rem;
    margin-bottom: 50px;
  }
}
.top__title.en {
  font-family: "Noto Serif Display", serif, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
@media (min-width: 960px) {
  .top__title.en {
    font-size: 42px;
    font-size: 2.625rem;
  }
}
.top__title .ja {
  font-size: 36px;
  font-size: 2.25rem;
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.top__title .sub {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  display: block;
}
.top__title .sub:before {
  content: "";
  display: block;
  background: #E12C6D;
  width: 75px;
  height: 2px;
  margin: 10px auto;
  border-radius: 5px;
}
.top__subtitle {
  font-family: "Noto Serif Display", serif, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  position: relative;
}
@media (min-width: 960px) {
  .top__subtitle {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
.top__subtitle > span {
  position: relative;
  z-index: 10;
}
.top__subtitle:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: #e12c6d;
  position: absolute;
  left: -15px;
  bottom: -5px;
  z-index: 0;
}
.top__subtitle:after {
  content: "";
  display: block;
  width: 154px;
  height: 1px;
  background: #1a1a1a;
  position: absolute;
  bottom: -8px;
  left: 25px;
}
.top__mv {
  position: relative;
}
.top__mv .swiper .mvImg {
  animation: zoomUp 10s linear 0s 1 normal both;
}
.top__mv .swiper img {
  width: 100%;
  height: 100vh;
}
@media (max-width: 959px) {
  .top__mv .swiper img {
    object-fit: cover;
  }
}
.top__mv .swiper .swiper-pagination-bullet {
  background-color: #d9d9d9;
  opacity: 0.6;
}
.top__mv .swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #E12C6D;
  opacity: 1;
}
.top__mv__sns {
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 10;
}
.top__mv__sns .snsImg {
  width: 23px;
}
.top__mv__sns .snsImg:nth-of-type(-n + 2) {
  margin-bottom: 20px;
}
.top__mv__sns .snsImg > img {
  width: 100%;
  height: auto;
}
.top__mv__banner {
  color: #fff;
  position: fixed;
  top: 80%;
  right: 0;
  z-index: 10;
  font-weight: 600;
  background-image: linear-gradient(117deg, rgb(225, 44, 109) 10%, rgb(173, 34, 84) 49%, rgb(123, 24, 60) 90%);
  display: flex;
  align-items: center;
  padding: 20px 13px 20px 15px;
}
@media (min-width: 960px) {
  .top__mv__banner {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
.top__newsBox {
  max-width: 1080px;
  width: 90%;
  border: solid 1px #E12C6D;
  border-radius: 0.5rem;
  margin: 100px auto;
  padding: 30px 40px;
}
.top__newsBox__ttl {
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  .top__newsBox__ttl {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 600;
  }
}
@media (max-width: 959px) {
  .top__newsBox__ttl {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
@media (min-width: 960px) {
  .top__newsBox__txt {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
}
@media (max-width: 959px) {
  .top__newsBox__txt {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
.top__aboutBox {
  display: flex;
  gap: 60px;
  position: relative;
}
.top__aboutBox:nth-of-type(2) {
  justify-content: flex-end;
}
.top__aboutBox:nth-of-type(2) .top__aboutBox__txt01 {
  flex: 0 0 35%;
}
.top__aboutBox:nth-of-type(3) {
  justify-content: center;
  align-items: center;
}
@media (min-width: 960px) {
  .top__aboutBox {
    margin-bottom: 80px;
  }
  .top__aboutBox:last-of-type {
    margin-bottom: 0;
  }
}
.top__aboutBox img {
  width: 100%;
  height: auto;
}
@media (min-width: 960px) {
  .top__aboutBox__txt01 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 200%;
    flex: 0 0 45%;
    text-wrap: pretty;
  }
}
.top__aboutBox__txt01 > span {
  color: #E12C6D;
  font-weight: 600;
}
.top__aboutBox__txt02 {
  position: absolute;
  font-family: "Noto Serif Display", serif, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  color: #afafb0;
  bottom: -8%;
  left: 50%;
  transform: translate(-50%, 0%);
}
@media (min-width: 960px) {
  .top__aboutBox__txt02 {
    font-size: 80px;
    font-size: 5rem;
  }
}
.top__blog {
  margin: 100px 0;
}
.top__blogBox {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.top__blogBox__article {
  flex: 0 0 25%;
}
.top__blogBox__article img {
  width: 100%;
  height: auto;
}
.top__blogBox__articleTags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}
.top__blogBox__articleTags--tag {
  border-radius: 0.3rem;
  background: #e12c6d;
  color: #fff;
}
@media (min-width: 960px) {
  .top__blogBox__articleTags--tag {
    font-size: 14px;
    font-size: 0.875rem;
    padding: 7px 10px;
  }
}
@media (min-width: 960px) {
  .top__blogBox__articleTags--date {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
.top__blogBox__articleTxt {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
@media (min-width: 960px) {
  .top__blogBox__articleTxt {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 150%;
    font-weight: 600;
  }
}
.top__teacher {
  margin-bottom: 100px;
}
.top__teacherBox {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.top__teacherBox__prof {
  flex: 0 0 25%;
  background: rgba(225, 44, 109, 0.1);
  height: 360px;
  position: relative;
}
.top__teacherBox__prof > img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 9%;
  left: 8%;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.top__teacherBox__txtbox {
  flex: 0 0 35%;
}
.top__teacherBox__txtbox--name {
  border-bottom: solid 1px #E12C6D;
}
@media (min-width: 960px) {
  .top__teacherBox__txtbox--name {
    font-size: 32px;
    font-size: 2rem;
    line-height: 150%;
    margin-bottom: 40px;
  }
}
@media (min-width: 960px) {
  .top__teacherBox__txtbox--name > span {
    font-size: 28px;
    font-size: 1.75rem;
    font-family: "Noto Serif Display", serif, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  }
}
@media (min-width: 960px) {
  .top__teacherBox__txtbox--text {
    font-size: 16px;
    font-size: 1rem;
    line-height: 200%;
  }
  .top__teacherBox__txtbox--text > a {
    color: #E12C6D;
    font-weight: bold;
    border-bottom: solid 1px #E12C6D;
  }
}
.top__class {
  background: rgba(225, 44, 109, 0.1);
  padding: 120px 0;
  margin-bottom: 80px;
}
.top__classBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.top__classBox:nth-of-type(2) {
  align-items: center;
  margin-top: 30px;
}
.top__classBox:nth-of-type(3) {
  align-items: flex-end;
  margin-top: 30px;
}
.top__classBox__txtbox {
  background: #fff;
  text-align: center;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 60px 55px;
  position: relative;
  flex: 0 0 43%;
  text-wrap: pretty;
}
@media (min-width: 960px) {
  .top__classBox__txtbox--ttl {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
@media (min-width: 960px) {
  .top__classBox__txtbox--txt {
    font-size: 16px;
    font-size: 1rem;
    line-height: 180%;
  }
}
.top__classBox__txtbox--dec {
  font-family: "Oooh Baby", cursive, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  color: #E12C6D;
  position: absolute;
  right: 0;
  bottom: -5px;
  transform: rotate(-9deg);
}
@media (min-width: 960px) {
  .top__classBox__txtbox--dec {
    font-size: 60px;
    font-size: 3.75rem;
  }
}
.top__lesson {
  width: 70%;
  margin: 0 auto 100px;
}
.top__lesson__schedule {
  width: 80%;
  margin: 40px auto 60px;
}
.top__lesson__schedule img {
  width: 100%;
  height: auto;
}
.top__lesson__schedule--ttl {
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
@media (min-width: 960px) {
  .top__lesson__schedule--ttl {
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}
.top__lesson__schedule--note {
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
@media (min-width: 960px) {
  .top__lesson__schedule--note {
    font-size: 13px;
    font-size: 0.8125rem;
    margin-top: 15px;
    line-height: 150%;
  }
}
.top__lesson__schedule table,
.top__lesson__schedule td,
.top__lesson__schedule th {
  border-collapse: separate;
  border-spacing: 2px;
}
.top__lesson__schedule td,
.top__lesson__schedule th {
  text-align: center;
  padding: 3px;
  width: 142px;
}
.top__lesson__schedule th {
  background: #1a1a1a;
  color: #fff;
}
@media (min-width: 960px) {
  .top__lesson__schedule th {
    padding: 11px 0;
    font-size: 18px;
    font-size: 1.125rem;
  }
}
.top__lesson__schedule .noon td {
  background: #f2f2f2;
}
@media (min-width: 960px) {
  .top__lesson__schedule .noon td {
    padding: 25px 0;
    font-size: 16px;
    font-size: 1rem;
    line-height: 180%;
  }
}
.top__lesson__schedule .noon td.active {
  background: rgba(225, 44, 109, 0.1490196078);
}
.top__lesson__schedule .night td {
  background: #e6e6e6;
}
@media (min-width: 960px) {
  .top__lesson__schedule .night td {
    padding: 25px 0;
    font-size: 16px;
    font-size: 1rem;
    line-height: 180%;
  }
}
.top__lesson__schedule .night td.active {
  background: rgba(225, 44, 109, 0.3490196078);
}
@media (min-width: 960px) {
  .top__lesson__fee {
    margin: 50px 0;
  }
}
.top__lesson__feeBox {
  background: url("/assets/img/top/ticket.png") no-repeat;
  background-image: 100%;
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 33px;
}
.top__lesson__feeBox:nth-of-type(2) {
  padding: 60px;
}
.top__lesson__feeBox--ttl {
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
@media (min-width: 960px) {
  .top__lesson__feeBox--ttl {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 170%;
  }
}
.top__lesson__feeBox--note {
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
@media (min-width: 960px) {
  .top__lesson__feeBox--note {
    font-size: 16px;
    font-size: 1rem;
    line-height: 170%;
  }
}
.top__lesson__fee--txt {
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  text-align: center;
}
@media (min-width: 960px) {
  .top__lesson__fee--txt {
    font-size: 22px;
    font-size: 1.375rem;
    margin: 25px 0;
  }
}
.top__lesson__fee table,
.top__lesson__fee td,
.top__lesson__fee th {
  border-collapse: separate;
  border-spacing: 2px;
  margin: auto;
}
.top__lesson__fee th {
  background: #1a1a1a;
  color: #fff;
}
@media (min-width: 960px) {
  .top__lesson__fee th {
    font-size: 18px;
    font-size: 1.125rem;
    padding: 10px 20px;
  }
}
.top__lesson__fee td {
  text-align: center;
}
@media (min-width: 960px) {
  .top__lesson__fee td {
    font-size: 18px;
    font-size: 1.125rem;
    padding: 10px 20px;
  }
}
.top__lesson__fee .tr01 td {
  background: rgba(225, 44, 109, 0.1490196078);
}
.top__lesson__fee .tr02 td {
  background: #f2f2f2;
}
.top__lesson__fee--img {
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  .top__lesson__fee--payment {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 160%;
    margin-top: 50px;
  }
}
.top__lesson__fee--payment > .txt01 {
  position: relative;
}
.top__lesson__fee--payment > .txt01:before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  background: #E12C6D;
  position: absolute;
  top: 33%;
  left: -18px;
}
.top__lesson__fee--payment > .txt02 {
  border-bottom: solid 1px #E12C6D;
}
@media (min-width: 960px) {
  .top__lesson__fee--payment > .txt03 {
    font-size: 16px;
    font-size: 1rem;
  }
}
.top__lesson__access {
  margin-top: 50px;
}
@media (min-width: 960px) {
  .top__lesson__access--txt {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 170%;
    margin-bottom: 30px;
  }
}
.top__lesson__access--txt > a {
  border-bottom: solid 1px #1a1a1a;
}
.top__faq {
  margin-bottom: 100px;
}
.top__faq__inner {
  border: solid 1px #E12C6D;
  border-radius: 0.3rem;
  width: 70%;
  margin: 0 auto;
  padding: 15px 30px;
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 15px;
  position: relative;
  line-height: 160%;
}
.top__faq__inner--qu {
  position: relative;
}
.top__faq__inner--qu:before {
  content: "Q.";
  font-family: "Noto Serif Display", serif, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 32px;
  font-size: 2rem;
  padding-right: 5px;
}
.top__faq__inner--qu:after {
  content: "";
  background: url("/assets/img/common/ico_allow01.svg") no-repeat center;
  display: block;
  width: 16px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(0%, -50%);
}
.top__faq__inner--qu.is-open:after {
  transform: rotate(180deg);
}
.top__faq__inner--an {
  padding-left: 2.5em;
  text-indent: -2.5em;
  display: block;
  padding-top: 20px;
}
.top__faq__inner--an:before {
  content: "A.";
  font-family: "Noto Serif Display", serif, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 32px;
  font-size: 2rem;
  color: #E12C6D;
  padding-right: 5px;
}
.top__faq__inner--an a {
  color: #E12C6D;
  border-bottom: solid 1px #E12C6D;
}
.top__faq__box {
  border: solid 1px #E12C6D;
  border-radius: 0.3rem;
  width: 70%;
  margin: 0 auto;
  padding: 15px 20px;
  font-family: "Noto Sans", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 15px;
}
.top__faq__box > p {
  display: flex;
  align-items: center;
  gap: 16px;
}
.top__faq__box:after {
  content: "";
  background: url("/assets/img/common/ico_allow01.svg") no-repeat;
  display: block;
  width: 16px;
  height: 10px;
}
.top__faq__box .qu {
  font-family: "Noto Serif Display", serif, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 32px;
  font-size: 2rem;
}
.top__media {
  padding-bottom: 100px;
}
.top__media .swiper {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 35px;
}
.top__media .swiper .swiper-slide {
  position: relative;
}
.top__media .swiper .swiper-slide .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top__media .swiper .mediaImg img {
  width: 100%;
  height: auto;
}
.top__media .swiper .swiper-pagination-bullet {
  background-color: #d9d9d9;
  opacity: 0.6;
}
.top__media .swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #E12C6D;
  opacity: 1;
}
.top__contact {
  background: url("/assets/img/top/contact-bg.jpg") no-repeat;
  background-size: 100%;
}
@media (min-width: 960px) {
  .top__contact {
    padding: 85px 0 135px;
  }
}
.top__contactForm {
  width: 60%;
  margin: 0 auto;
}
@media (min-width: 960px) {
  .top__contactForm__note {
    font-size: 16px;
    font-size: 1rem;
    line-height: 180%;
    margin-bottom: 30px;
  }
}
.top__contactForm__txt {
  font-weight: bold;
}
@media (min-width: 960px) {
  .top__contactForm__txt {
    font-size: 16px;
    font-size: 1rem;
    margin: 30px 0 10px;
  }
}
.top__contactForm input[type=text],
.top__contactForm input[type=email],
.top__contactForm textarea {
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: none;
  transition: background-color 0.7s ease 0s;
  width: 100%;
  border-radius: 0.3rem;
}
@media (min-width: 960px) {
  .top__contactForm input[type=text],
  .top__contactForm input[type=email],
  .top__contactForm textarea {
    padding: 15px 10px;
    font-size: 16px;
    font-size: 1rem;
  }
}
@media (max-width: 959px) {
  .top__contactForm input[type=text],
  .top__contactForm input[type=email],
  .top__contactForm textarea {
    padding: 13px 10px;
    font-size: 14px;
    font-size: 0.875rem;
  }
}
.top__contactForm input[type=text]:focus,
.top__contactForm input[type=email]:focus,
.top__contactForm textarea:focus {
  outline: 0;
  background: #eee;
}
.top__contactForm .submit {
  text-align: center;
  margin-top: 115px;
}
.top__contactForm .submit .wpcf7-submit {
  color: #fff;
  background: #E12C6D;
  border: solid 2px #E12C6D;
  border-radius: 50px;
  padding: 20px 50px;
  width: fit-content;
  margin: 0 auto;
  transition: background-color 0.2s ease 0s;
  font-weight: bold;
}
@media (min-width: 960px) {
  .top__contactForm .submit .wpcf7-submit {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
.top__contactForm .submit .wpcf7-submit:hover {
  cursor: pointer;
  background: #fff;
  color: #E12C6D;
}

/* static index
* ----------------
* common
* ---------------- */
/* SP改行 */
@media (max-width: 959px) {
  .br::before {
    content: "\a";
    white-space: pre;
  }
}
/* colors */
.pink {
  color: #E12C6D;
}

/* scroll down */
.scrollDown {
  width: 1px;
  height: 40px;
  background: #333;
  animation: scrollDown 2s ease infinite;
  margin: 0 auto;
  margin-top: 20px;
}

/* indent */
.indent01 {
  padding-left: 1em;
  text-indent: -1em;
  display: block;
}

.indent02 {
  padding-left: 1.5em;
  text-indent: -1.5em;
  display: block;
}

.indent03 {
  padding-left: 3em;
  text-indent: -3em;
  display: block;
}

@keyframes scrollDown {
  0% {
    transform-origin: top;
    transform: scaleY(0);
  }
  45% {
    transform-origin: top;
    transform: scaleY(1);
  }
  55% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
  100% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
}
/* フェードイン */
.js-fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.js-fade.is-show {
  opacity: 1;
}
.js-fadeSlide {
  transform: translateY(50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.js-fadeSlide.is-show {
  transform: translateY(0);
}

.modFV {
  position: relative;
}
.modMoreBtn {
  color: #E12C6D;
  font-family: "Noto Serif Display", serif, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  transition: 0.3s;
  display: block;
  width: fit-content;
  margin: 50px 100px 0 auto;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}
@media (min-width: 960px) {
  .modMoreBtn {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
.modMoreBtn:after {
  content: "";
  background: url("/assets/img/common/allow.svg") no-repeat;
  width: 148px;
  height: 12px;
  display: block;
}
.modMoreBtn:hover {
  opacity: 0.7;
}
.modMoreBtn:hover::after {
  background: url("/assets/img/common/allow.svg") no-repeat;
  animation: SlideInAllow 1s ease;
  transform: none;
}

/*# sourceMappingURL=style.css.map */
