---
import Layout from "../layouts/Layout.astro";
---

<Layout title="TOP" description="">
  <main slot="body">
    <div class="top">
      <!-- MV -->
      <section class="top__mv">
        <div class="swiper">
          <div class="swiper-wrapper">
            <h1 class="swiper-slide">
              <figure class="mvImg">
                <img src="/assets/img/top/mv01.jpg" alt="ジャズダンス" width="1440" height="810" />
              </figure>
            </h1>
            <h1 class="swiper-slide">
              <figure class="mvImg">
                <img src="/assets/img/top/mv02.jpg" alt="ジャズダンス" width="1440" height="810" />
              </figure>
            </h1>
            <h1 class="swiper-slide">
              <figure class="mvImg">
                <img src="/assets/img/top/mv03.jpg" alt="ジャズダンス" width="1440" height="810" />
              </figure>
            </h1>
          </div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="top__mv__sns">
          <a href="" target="_blank">
            <figure class="snsImg">
              <img src="/assets/img/common/x.svg" alt="" width="20" height="20" />
            </figure>
          </a>
          <a href="" target="_blank">
            <figure class="snsImg">
              <img src="/assets/img/common/instagram.svg" alt="" width="20" height="20" />
            </figure>
          </a>
          <a href="" target="_blank">
            <figure class="snsImg">
              <img src="/assets/img/common/facebook.svg" alt="" width="20" height="20" />
            </figure>
          </a>
        </div>

        <div class="top__mv__banner">
          <figure class="bnImg">
            <img src="/assets/img/common/icon_dance.svg" alt="" width="46" height="46" />
          </figure>
          <p class="">見学、体験レッスン随時募集中！</p>
        </div>
      </section>
      <!-- / MV -->

      <!-- お知らせ -->
      <section class="top__news">
        <div class="top__newsBox">
          <p class="top__newsBox__ttl">お知らせ</p>
          <p class="top__newsBox__txt">テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        </div>
      </section>
      <!-- / お知らせ -->

      <!-- LDSの特徴 -->
      <section class="top__about">
        <h2 class="top__title en">
          <figure><img src="/assets/img/common/ttl_dec-left.svg" alt="" width="158" height="45" /></figure>
          <p>Leia Dance Studio<span class="ja">とは</span></p>
          <figure><img src="/assets/img/common/ttl_dec-right.svg" alt="" width="158" height="45" /></figure>
        </h2>
        <div class="top__aboutBox">
          <figure>
            <img src="/assets/img/top/about01.png" alt="" width="639" height="407" />
          </figure>
          <p class="top__aboutBox__txt01">
            本格的な<span>ジャズダンス、ミュージカル・ショーダンス</span>を中心に親切・丁寧に教えております。<br />
            ジャズダンスを元にフラメンコ、フラダンス、印度舞踊、タップなど様々なダンスを融合した金光ダンスを初心者から学ぶ事ができます。<br />
            創立69年の金光郁子舞踊学園を引き継ぎ自由ヶ丘にて10代〜70台まで幅広く楽しく本格的なダンス・金光ダンスを学べます。<br />
            子供・ジュニアクラスも検討中です。
          </p>
        </div>

        <div class="top__aboutBox">
          <p class="top__aboutBox__txt01">
            レイアダンススタジオ主催の<span>河野麻耶（こうのまや）</span>は、金光郁子の孫でもあり1歳より師事。<br />
            <span>舞踊歴は40年以上。</span><br />
            日本ジャズダンス芸術協会主催コンクールにて1991年ジュニアの部次点「That’s A Plenty/Surfeit U.S.A」、1996年成人部門特別賞「オクラホマ」、2002年アダルト部門第1位「睡蓮」、2007年にはコンクール最高位のグランプリを「1920 U.S.A.」で受賞。<br />
            <br />
            金光郁子舞踊学園では、俳優の中川大志さんや歌手のMay.J さんなど現在、舞台やテレビで活躍中の方々も生徒として所属しておりました。
          </p>
          <figure class="aboutImg">
            <img src="/assets/img/top/about02.png" alt="" width="793" height="508" />
          </figure>
          <p class="top__aboutBox__txt02">Jazz Dance</p>
        </div>

        <div class="top__aboutBox">
          <figure>
            <img src="/assets/img/top/about03.png" alt="" width="793" height="508" />
          </figure>
          <p class="top__aboutBox__txt01">
            懐かしい往年のミュージカルナンバーや名曲をベースに<br />
            <span>ミュージカル・商業公演で披露したダンス</span>を踊ってみませんか？
          </p>
        </div>

        <a href="" class="modMoreBtn">Read More</a>
      </section>
      <!-- / LDSの特徴 -->

      <!-- 	NEWS(ブログ) -->
      <section class="top__blog">
        <h2 class="top__title en">
          <figure><img src="/assets/img/common/ttl_dec-left.svg" alt="" width="158" height="45" /></figure>
          <span>News<br /><span class="sub">お知らせ</span></span>
          <figure><img src="/assets/img/common/ttl_dec-right.svg" alt="" width="158" height="45" /></figure>
        </h2>

        <div class="top__blogBox">
          <a href="" class="top__blogBox__article">
            <figure><img src="/assets/img/top/thumb.jpg" alt="" width="360" height="246" /></figure>
            <div class="top__blogBox__articleTags">
              <p class="top__blogBox__articleTags--tag">タグ</p>
              <p class="top__blogBox__articleTags--date">2024/01/01</p>
            </div>
            <p class="top__blogBox__articleTxt">タイトル入るタイトル入るタイトル入るタイトル入るタイトル入るタイトル入るタイトル入るタイトル入るタイトル入るタイトル入る</p>
          </a>
          <a href="" class="top__blogBox__article">
            <figure><img src="/assets/img/top/thumb.jpg" alt="" width="360" height="246" /></figure>
            <div class="top__blogBox__articleTags">
              <p class="top__blogBox__articleTags--tag">タグ</p>
              <p class="top__blogBox__articleTags--date">2024/01/01</p>
            </div>
            <p class="top__blogBox__articleTxt">タイトル入るタイトル入るタイトル入るタイトル入るタイトル入るタイトル入るタイトル入るタイトル入るタイトル入るタイトル入る</p>
          </a>
          <a href="" class="top__blogBox__article">
            <figure><img src="/assets/img/top/thumb.jpg" alt="" width="360" height="246" /></figure>
            <div class="top__blogBox__articleTags">
              <p class="top__blogBox__articleTags--tag">タグ</p>
              <p class="top__blogBox__articleTags--date">2024/01/01</p>
            </div>
            <p class="top__blogBox__articleTxt">タイトル入るタイトル入るタイトル入るタイトル入るタイトル入るタイトル入るタイトル入るタイトル入るタイトル入るタイトル入る</p>
          </a>
        </div>
        <a href="" class="modMoreBtn">Read More</a>
      </section>
      <!-- 	/ NEWS(ブログ) -->

      <!-- 教師 -->
      <section class="top__teacher">
        <h2 class="top__title">
          <figure><img src="/assets/img/common/ttl_dec-left.svg" alt="" width="158" height="45" /></figure>
          教師
          <figure><img src="/assets/img/common/ttl_dec-right.svg" alt="" width="158" height="45" /></figure>
        </h2>

        <div class="top__teacherBox">
          <figure class="top__teacherBox__prof">
            <img src="/assets/img/top/Maya_Kohno.jpg" alt="河野麻耶" width="600" height="600" />
          </figure>
          <div class="top__teacherBox__txtbox">
            <p class="top__teacherBox__txtbox--name">河野麻耶<br /><span>Maya Kohno</span></p>
            <p class="top__teacherBox__txtbox--text">
              1歳の時よりダンスを始める。舞踊暦40年以上。<br />
              <a href="" target="_blank">日本ジャズダンス芸術協会主催コンクール</a>にて1991年ジュニアの部次点「That’s A Plenty/Surfeit U.S.A」、1996年成人部門特別賞「オクラホマ」、2002年アダルト部門第1位「睡蓮」、2007年にはコンクール最高位の<a href="" target="_blank">グランプリを「1920 U.S.A.」で受賞。</a><br />
              金光郁子舞踊学園学園指導賞等多数受賞。<br />
              2023年9月金光郁子舞踊学園を引き継ぎ、レイアダンススタジオと学園名を改めて主宰と運営を始める。
            </p>
          </div>
        </div>
        <a href="" class="modMoreBtn">Read More</a>
      </section>
      <!-- 	/ 教師 -->

      <!-- クラス -->
      <section class="top__class">
        <h2 class="top__title">
          <figure><img src="/assets/img/common/ttl_dec-left.svg" alt="" width="158" height="45" /></figure>
          クラス
          <figure><img src="/assets/img/common/ttl_dec-right.svg" alt="" width="158" height="45" /></figure>
        </h2>

        <div class="top__classBox">
          <div class="top__classBox__txtbox">
            <p class="top__classBox__txtbox--ttl">ワンクラスでも初心者大歓迎!!</p>
            <p class="top__classBox__txtbox--txt">
              レベルに合わせた振り付けで、基礎から丁攣に指導します。<br />
              練習する作品も生徒さんのペースを見ながら定期的に変えていくので、<br />
              色々な作品を踊ることができます。
            </p>
            <p class="top__classBox__txtbox--dec">One Team</p>
          </div>
          <figure class="top__classBox__img">
            <img src="/assets/img/top/class01.jpg" alt="" width="588" height="315" />
          </figure>
        </div>

        <div class="top__classBox">
          <figure class="top__classBox__img">
            <img src="/assets/img/top/class02.jpg" alt="" width="588" height="315" />
          </figure>
          <div class="top__classBox__txtbox">
            <p class="top__classBox__txtbox--ttl">豊富な経験と実績</p>
            <p class="top__classBox__txtbox--txt">
              河野麻耶は舞踊歴40年以上のベテランであり、<br />多くの受賞歴や公演出演経験を持っています。<br />
              その豊富な経験と実績に基づいた指導は、初心者から上級者まで、各レベルの生徒に対応できます。
            </p>
            <p class="top__classBox__txtbox--dec">Experienced</p>
          </div>
        </div>

        <div class="top__classBox">
          <div class="top__classBox__txtbox">
            <p class="top__classBox__txtbox--ttl">豊富な経験と実績</p>
            <p class="top__classBox__txtbox--txt">
              河野麻耶は舞踊歴40年以上のベテランであり、<br />多くの受賞歴や公演出演経験を持っています。<br />
              その豊富な経験と実績に基づいた指導は、初心者から上級者まで、各レベルの生徒に対応できます。
            </p>
            <p class="top__classBox__txtbox--dec">Experienced</p>
          </div>
          <figure class="top__classBox__img">
            <img src="/assets/img/top/class03.jpg" alt="" width="588" height="315" />
          </figure>
        </div>
        <a href="" class="modMoreBtn">Read More</a>
      </section>
      <!-- 	/ クラス -->

      <!-- レッスン時間・料金 ・場所 -->
      <section class="top__lesson">
        <h2 class="top__title">
          <figure><img src="/assets/img/common/ttl_dec-left.svg" alt="" width="158" height="45" /></figure>
          レッスン時間・料金 ・場所
          <figure><img src="/assets/img/common/ttl_dec-right.svg" alt="" width="158" height="45" /></figure>
        </h2>

        <h3 class="top__subtitle">︎<span>Schedule</span></h3>
        <div class="top__lesson__schedule">
          <p class="top__lesson__schedule--ttl">自由ヶ丘スタジオ</p>
          <!-- <figure>
            <img src="/assets/img/top/schedule.jpg" alt="スケジュール" width="1016" height="283" />
          </figure> -->
          <table>
            <tbody>
              <tr>
                <th>月曜日</th>
                <th>火曜日</th>
                <th>水曜日</th>
                <th>木曜日</th>
                <th>金曜日</th>
                <th>土曜日</th>
                <th>日曜日</th>
              </tr>
              <tr class="noon">
                <td></td>
                <td class="active">昼クラス<br />11:20-12:40</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="active">昼クラス<br />11:20-12:40</td>
              </tr>
              <tr class="night">
                <td></td>
                <td class="active">夜クラス<br />19:20-20:40</td>
                <td></td>
                <td></td>
                <td class="active">夜クラス<br />19:20-20:40</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

          <p class="top__lesson__schedule--note">
            ※場所：自由ヶ丘ダンススタジオ JDS/東京都目黒区自由が丘1-3-22 / 自由ヶ丘駅徒歩5分<br />
            ※各レッスンは80分間です（スタジオは2時間かりていますので、20分前から入室できます）<br />
            ※レッスン時間の前後の各20分間で着替え、準備、チケットの購入等をお願いいたします。
          </p>
        </div>

        <h3 class="top__subtitle">︎<span>料金</span></h3>
        <div class="top__lesson__fee">
          <div class="top__lesson__feeBox">
            <figure>
              <img src="/assets/img/top/ico_dance.svg" alt="" width="113" height="113" />
            </figure>
            <div>
              <p class="top__lesson__feeBox--ttl">体験レッスン・ビジター ￥3,300円（税込）</p>
              <p class="top__lesson__feeBox--note">
                ※チケットを買う前に一度体験してみたい、ビジターで1回まずはレッスンしたいという方、大歓迎です<br />
                ※体験レッスンでは動きやすい服装でお越しください<br />
                ※レッスン風景の写真撮影及び動画撮影はお断りしております
              </p>
            </div>
          </div>
          <div class="top__lesson__feeBox">
            <figure>
              <img src="/assets/img/top/ico_yen.svg" alt="" width="73" height="73" />
            </figure>
            <div>
              <p class="top__lesson__feeBox--ttl">入学金 ￥11,000 （税込）</p>
              <p class="top__lesson__feeBox--note">※入学金は返金致しません</p>
            </div>
          </div>

          <p class="top__lesson__fee--txt">ー チケット回数と金額 ー</p>
          <!-- <figure class="top__lesson__fee--img">
            <img src="/assets/img/top/ticket.jpg" alt="" width="534" height="204" />
          </figure> -->
          <table>
            <tbody>
              <tr>
                <th>回数</th>
                <th>金額(税込)</th>
                <th>有効期限</th>
                <th>1レッスンあたり</th>
              </tr>
              <tr class="tr01">
                <td>5回</td>
                <td>16,500円</td>
                <td>購入後3ヶ月</td>
                <td>3,300円</td>
              </tr>
              <tr class="tr02">
                <td>10回</td>
                <td>33,000円</td>
                <td>購入後3ヶ月</td>
                <td>3,300円</td>
              </tr>
              <tr class="tr01">
                <td>15回</td>
                <td>47,025円</td>
                <td>購入後6ヶ月</td>
                <td>3,135円</td>
              </tr>
              <tr class="tr02">
                <td>20回</td>
                <td>59,400円</td>
                <td>購入後6ヶ月</td>
                <td>2,970円</td>
              </tr>
            </tbody>
          </table>
          <p class="top__lesson__fee--payment">
            <span class="txt01">お支払い方法</span><br />
            <span class="txt02">現金または銀行振込となります。</span><br />
            クレジットカード払いやキャッシュレス払いには現在対応しておりません。<br />
            <span class="txt03">※旧・金光郁子舞踊学園、ザ・クリエイトハウスの銀行口座に振り込まないようご注意下さい。</span><br />
            <br />
            ◎お振り込み口座銀行：三井住友銀行支店：横浜支店（322）<br />
            口座番号：(普通) 921877<br />
            口座名義：Studio Leia 河野 麻耶<br />
            口座名義（カナ）：スタジオ レイア コウノ マヤ
          </p>
        </div>

        <h3 class="top__subtitle">︎<span>アクセス</span></h3>
        <div class="top__lesson__access">
          <p class="top__lesson__access--txt">
            <a href="https://jiyugaokastudio.com/" target="_blank">自由ヶ丘ダンススタジオＪＤＳ</a><br />
            <br />
            東京都目黒区自由が丘1-3-22<br />
            東急東横線・大井町線 自由ヶ丘駅 徒歩5分<br />
            （着替えスペースあり、自動販売機等なし）<br />
            横浜市内のスタジオも検討中です。また幼児やジュニア、または親子揃ってのレッスンなども検討しております。<br />
            ぜひ、<a href="">アンケート</a>や教師にその旨伝えてください。
          </p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d202.73399019658558!2d139.6705624!3d35.6093848!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f5e150067731%3A0xc67dae953be8382e!2sLeia%20Dance%20Studio!5e0!3m2!1sja!2sjp!4v1715928679204!5m2!1sja!2sjp" width="1080" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </section>
      <!-- 	/ レッスン時間・料金 ・場所 -->

      <!-- FAQ -->
      <section class="top__faq">
        <h2 class="top__title en">
          <figure><img src="/assets/img/common/ttl_dec-left.svg" alt="" width="158" height="45" /></figure>
          <span>Faq<br /><span class="sub">よくあるご質問</span></span>
          <figure><img src="/assets/img/common/ttl_dec-right.svg" alt="" width="158" height="45" /></figure>
        </h2>

        <div class="top__faq__inner">
          <div class="top__faq__inner--qu">
            <span class="qu">見学、体験レッスンはできますか？</span>
          </div>
          <div class="top__faq__inner--an" style="display: none;">
            <span class="an">大歓迎です。初めての方ももちろん大歓迎です。見学は無料ですのでお気軽にお越しください。<br />見学の際には一度<a href="#contact">ご連絡</a>頂けると安心です。</span>
          </div>
        </div>
        <div class="top__faq__inner">
          <div class="top__faq__inner--qu">
            <span class="qu">全くの初心者ですが大丈夫でしょうか？</span>
          </div>
          <div class="top__faq__inner--an" style="display: none;">
            <span class="an">はい、全く問題ありません。初心者でもしっかりと<a href="/teacher">教師</a>がレクチャー致します。</span>
          </div>
        </div>
        <div class="top__faq__inner">
          <div class="top__faq__inner--qu">
            <span class="qu">どんな服装が良いですか？</span>
          </div>
          <div class="top__faq__inner--an" style="display: none;">
            <span class="an">Ｔシャツ、タイツ、ダンスシューズ（バレエシューズ、ジャズダンスシューズ等）など動きやすい服装でお越しください。<br />不明な方、心配な方はお尋ね下さい。</span>
          </div>
        </div>
        <a href="" class="modMoreBtn">Read More</a>
      </section>
      <!-- 	/ FAQ -->

      <!-- 過去メディア -->
      <section class="top__media">
        <h2 class="top__title">
          <figure><img src="/assets/img/common/ttl_dec-left.svg" alt="" width="158" height="45" /></figure>
          過去メディア
          <figure><img src="/assets/img/common/ttl_dec-right.svg" alt="" width="158" height="45" /></figure>
        </h2>

        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <figure class="mediaImg">
                <img src="/assets/img/top/media01.jpg" alt="過去メディア動画" width="406" height="228" />
              </figure>
              <figure class="btn">
                <img src="/assets/img/common/load.svg" alt="再生ボタン" width="52" height="52" />
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="mediaImg">
                <img src="/assets/img/top/media02.jpg" alt="過去メディア動画" width="406" height="228" />
              </figure>
              <figure class="btn">
                <img src="/assets/img/common/load.svg" alt="再生ボタン" width="52" height="52" />
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="mediaImg">
                <img src="/assets/img/top/media03.jpg" alt="過去メディア動画" width="406" height="228" />
              </figure>
              <figure class="btn">
                <img src="/assets/img/common/load.svg" alt="再生ボタン" width="52" height="52" />
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="mediaImg">
                <img src="/assets/img/top/media01.jpg" alt="過去メディア動画" width="406" height="228" />
              </figure>
              <figure class="btn">
                <img src="/assets/img/common/load.svg" alt="再生ボタン" width="52" height="52" />
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="mediaImg">
                <img src="/assets/img/top/media02.jpg" alt="過去メディア動画" width="406" height="228" />
              </figure>
              <figure class="btn">
                <img src="/assets/img/common/load.svg" alt="再生ボタン" width="52" height="52" />
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="mediaImg">
                <img src="/assets/img/top/media03.jpg" alt="過去メディア動画" width="406" height="228" />
              </figure>
              <figure class="btn">
                <img src="/assets/img/common/load.svg" alt="再生ボタン" width="52" height="52" />
              </figure>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

        <a href="" class="modMoreBtn">Read More</a>
      </section>
      <!-- / 過去メディア -->

      <!-- CONTACT -->
      <section class="top__contact" id="contact">
        <h2 class="top__title en">
          <figure><img src="/assets/img/common/ttl_dec-left.svg" alt="" width="158" height="45" /></figure>
          <span>Contact<br /><span class="sub">お問い合わせ</span></span>
          <figure><img src="/assets/img/common/ttl_dec-right.svg" alt="" width="158" height="45" /></figure>
        </h2>
        <div class="top__contactForm">
          <p class="top__contactForm__note">
            レッスンに関する質問や問い合わせは下記のフォームから送りください。<br />
            折り返しメールにて担当者から連絡いたします。メールアドレスは間違いないよう記載ください。<br />
            体験レッスン、レッスン内容などについてもお気軽にご連絡ください。
          </p>

          <p class="top__contactForm__txt">お名前(必須)<span class="pink">*</span></p>
          <input type="text" name="name" value="" class="" />
          <p class="top__contactForm__txt">メールアドレス(必須)<span class="pink">*</span></p>
          <input type="email" name="mail" value="" class="" />
          <p class="top__contactForm__txt">タイトル</p>
          <input type="text" name="title" value="" class="" />
          <p class="top__contactForm__txt">メッセージ内容</p>
          <textarea name="contents" cols="40" rows="10"></textarea>

          <div class="submit">
            <input type="submit" value="submit" class="wpcf7-form-control wpcf7-submit" /><span class="ajax-loader"></span>
          </div>
        </div>
      </section>
      <!-- 	/ CONTACT -->
    </div>
  </main>
</Layout>
