---
import Layout from "../layouts/Layout.astro";
---

<Layout title="TOP" description="">
  <main slot="body">
    <div class="top">
      <!-- MV -->
      <section class="top__mv">
        <div class="swiper">
          <div class="swiper-wrapper">
            <h1 class="swiper-slide">
              <figure class="mvImg">
                <img src="/assets/img/top/mv01.jpg" alt="ジャズダンス" width="1440" height="810" />
              </figure>
            </h1>
            <h1 class="swiper-slide">
              <figure class="mvImg">
                <img src="/assets/img/top/mv02.jpg" alt="ジャズダンス" width="1440" height="810" />
              </figure>
            </h1>
            <h1 class="swiper-slide">
              <figure class="mvImg">
                <img src="/assets/img/top/mv03.jpg" alt="ジャズダンス" width="1440" height="810" />
              </figure>
            </h1>
          </div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="top__mv__sns">
          <figure class="snsImg">
            <img src="/assets/img/common/x.svg" alt="" width="20" height="20" />
          </figure>
          <figure class="snsImg">
            <img src="/assets/img/common/instagram.svg" alt="" width="20" height="20" />
          </figure>
          <figure class="snsImg">
            <img src="/assets/img/common/facebook.svg" alt="" width="20" height="20" />
          </figure>
        </div>

        <div class="top__mv__banner">
          <figure class="bnImg">
            <img src="/assets/img/common/icon_dance.svg" alt="" width="46" height="46" />
          </figure>
          <p class="">見学、体験レッスン随時募集中！</p>
        </div>
      </section>
      <!-- / MV -->

      <!-- お知らせ -->
      <section class="top__news">
        <div class="top__newsBox">
          <p class="top__newsBox__ttl">お知らせ</p>
          <p class="top__newsBox__txt">テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        </div>
      </section>
      <!-- / お知らせ -->

      <!-- LDSの特徴 -->
      <section class="top__about">
        <h2 class="top__title en">
          <figure><img src="/assets/img/common/ttl_dec-left.svg" alt="" width="158" height="45" /></figure>
          Leia Dance Studioとは
          <figure><img src="/assets/img/common/ttl_dec-right.svg" alt="" width="158" height="45" /></figure>
        </h2>
      </section>
      <!-- / LDSの特徴 -->

      <!-- 	NEWS(ブログ) -->
      <section class="top__blog">
        <h2 class="top__title">News</h2>
      </section>
      <!-- 	/ NEWS(ブログ) -->

      <!-- 教師 -->
      <section class="top__teacher">
        <h2 class="top__title">教師</h2>
      </section>
      <!-- 	/ 教師 -->

      <!-- クラス -->
      <section class="top__class">
        <h2 class="top__title">クラス</h2>
      </section>
      <!-- 	/ クラス -->

      <!-- レッスン時間・料金 ・場所 -->
      <section class="top__lesson">
        <h2 class="top__title">レッスン時間・料金 ・場所</h2>
      </section>
      <!-- 	/ レッスン時間・料金 ・場所 -->

      <!-- FAQ -->
      <section class="top__faq">
        <h2 class="top__title">Faq</h2>
      </section>
      <!-- 	/ FAQ -->

      <!-- CONTACT -->
      <section class="top__contact">
        <h2 class="top__title">Contact</h2>
      </section>
      <!-- 	/ CONTACT -->
    </div>
  </main>
</Layout>
