<footer class="footer">
  <div class="footer__contents">
    <div class="footer__logo">
      <a href="/">
        <figure class="logo">
          <img src="/assets/img/common/lds_logo-white.png" alt=""  width="147" height="28">
        </figure>
      </a>
    </div>

    <div class="footer__navList">
      <ul class="footer__navList__list">
        <li class="footer__navList__item"><a href=""></a></li>
      </ul>

      <div class="footer__navLink">
        <div class="footer__navLinkSns">
          <a href="https://www.instagram.com/" target="_blank"><img src="/assets/img/common/x.svg" alt="X" width="20" height="22"></a>
          <a href="https://www.facebook.com/" target="_blank"><img src="/assets/img/common/instagram.svg" alt="Instagram" width="24" height="24"></a>
          <a href="" target="_blank"><img src="/assets/img/common/facebook.svg" alt="facebook" width="24" height="24"></a>
        </div>
      </div>

      <small class="copyright">© 2024 Leia Dance Studio, All Rights Reserved.</small>
    </div>
  </div>
</footer>
