/* static index
* ----------------
* common
* ---------------- */
/* SP改行 */
@include media(sm) {
	.br::before {
		content: "\A";
		white-space: pre;
	}
}

/* colors */
.pink {
	color: $pink;
}

/* scroll down */
.scrollDown {
	width: 1px;
	height: 40px;
	background: #333;
	animation: scrollDown 2s ease infinite;
	margin: 0 auto;
	margin-top: 20px;
}

/* indent */
.indent01 {
	padding-left: 1em;
	text-indent: -1em;
	display: block;
}
.indent02 {
	padding-left: 1.5em;
	text-indent: -1.5em;
	display: block;
}
.indent03 {
	padding-left: 3em;
	text-indent: -3em;
	display: block;
}

@keyframes scrollDown {
	0% {
		transform-origin: top;
		transform: scaleY(0);
	}
	45% {
		transform-origin: top;
		transform: scaleY(1);
	}
	55% {
		transform-origin: bottom;
		transform: scaleY(1);
	}
	100% {
		transform-origin: bottom;
		transform: scaleY(0);
	}
}

/* フェードイン */
.js-fade {
	opacity: 0;
	transition: opacity 1s ease-in-out;
	&.is-show {
		opacity: 1;
	}
	&Slide {
		transform: translateY(50px);
		transition:
			opacity 1s ease-in-out,
			transform 1s ease-in-out;
		&.is-show {
			transform: translateY(0);
		}
	}
}

.mod {
	//FV
	&FV {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		margin-top: 150px;
		img{
			width: auto;
			height: auto;
		}
	}
	&Title {
		font-family: $noto;
		@include media(lg) {
			@include fontsize(42);
			margin-bottom: 85px;
			margin-right: -45px;
		}
		.en {
			font-family: $serif;
		}
	}
	&SubTitle {
		font-family: $serif;
		@include media(lg) {
			@include fontsize(32);
			color: $pink;
			position: absolute;
			top: 50px;
			left: 12%;
			border-left: solid 1px $pink;
			padding-left: 8px;
			display: block;
			writing-mode: vertical-rl;
			height: 281px;
		}
	}
	&Text{
		text-align: center;
		font-family: $noto;
		@include media(lg) {
			@include fontsize(20);
			line-height: 180%;
			margin: 80px 0 100px;
		}
	}
	&BandImg{
		img{
			width: 100%;
			height: auto;
		}
	}
	&MoreBtn {
		color: $pink;
		font-family: $serif;
		transition: 0.3s;
		display: block;
		width: fit-content;
		transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
		@include media(lg) {
			@include fontsize(24);
			margin: 50px 100px 0 auto;
		}
		@include media(sm) {
			@include fontsize(16);
			margin: 30px 20px 0 auto;
		}
		&:after {
			content: "";
			background: url("/assets/img/common/allow.svg") no-repeat;
			width: 148px;
			height: 12px;
			display: block;
			@include media(sm) {
				background: url("/assets/img/common/allow-sp.svg") no-repeat;
				width: 106px;
				height: 7px;
				background-size: 100%;
			}
		}
		&:hover {
			opacity: 0.7;
			&::after {
				background: url("/assets/img/common/allow.svg") no-repeat;
				animation: SlideInAllow 1s ease;
				transform: none;
				@include media(sm) {
					background: url("/assets/img/common/allow-sp.svg") no-repeat;
					width: 106px;
					height: 7px;
					background-size: 100%;
				}
			}
		}
	}
}
